@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.header {
    background-color: #1f2937;
    display: flex;
    font-family: "Roboto";
    padding: 13px;
    gap: 10px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
    justify-content: right;
}