@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Header Area */

.header {
    background-color: #1f2937;
    font-family: "Roboto";
    padding: 13px;
    gap: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-logo {
    justify-content: left;
    flex: 1;
    padding: 10px;
}

.header-logo a {
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
}

.header-links {
    margin-left: auto;
    display: flex;
    gap: 8px;
}

.header-links .header-link {
    padding: 10px;
}

.header-links .header-link a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.header-links .header-link:hover {
    background-color: rgb(47, 161, 243);
    border-radius: 5px;
}

.header-links .header-link a:hover {
    color: #e5e7eb;
}

/* Hero Area */

.hero-area {
    display: flex;
    padding: 50px;
    font-family: "Roboto";
    background-color: #1f2937;
}

.hero-area .hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.hero-area .hero-info .hero-title h1 {
    color: white;
    padding: 0;
    margin-top: 0;
    margin-bottom: 15px;
}

.hero-area .hero-info .hero-subtitle p {
    color: white;
    padding: 0;
    margin-top: 0;
    margin-bottom: 15px;
}

.hero-area .hero-info .hero-button button {
    display: inline-block;
    padding: 8px 12px;
    background: #007acc;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    font: inherit;
    border: none;
}

.hero-area .hero-info .hero-button button:focus {
    box-shadow: 0 0 0 3px rgba(0, 122, 204, 0.25);
}

/* Collection Area */

.collection-area {
    background-color: white;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.collection-area .collections {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    gap: 10px;
    align-items: stretch;
    width: 100;
    height: auto;
}

.collection-area .collections .item {
    flex: 0 0 auto;
    box-sizing: border-box;
    height: 100%;
}

.collection-area .collections .item .item-image img {
    width: 225px;
    height: 175px;
    border-radius: 20px;
}

.collection-area .collections .item .item-info {
    text-align: center;
}

.collection-area .collections .item .item-info a p {
    position: static;
    float: none;
}

.collection-area .collections .item .item-info a {
    text-decoration: none;
    color: black;
}

/* Footer area */
.footer {
    background-color: #1f2937;
    position: static;
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer p {
    color: white;
    font-family: "Roboto";
}